
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation-duration: 2s;
    transition-delay: 300ms;
  }

  .carousel-item .carousel-caption:hover{
    background: rgba(255, 255, 255, 0.466);
    border-radius: 35px;
  }
  .carousel-item .display-4 {
    font-size: 6vw;
    font-weight: bolder;
    color: rgb(3, 9, 41)

  }
  .carousel-item .lead {
  font-size: 2.5vh;
  align-content: center;
  font-weight: bold;
  color: rgb(3, 9, 41)

  }
  section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 1;
  }
  
  .services-icon {
    margin-bottom: 20px;
    font-size: 30px;
  }
  bgc2, .vLine, .hLine {
      background-color: #0F52BA;
  }
  
  .quote-icon {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .services-icon {
      font-size: 60px;
      margin-left: 2rem; 
  }

  .py-5{
    background-color: rgba(231, 228, 22, 0.089);
  }
  .py-5 .display-4{
    font-size: 3vw;
    font-weight: bold;
    color: rgba(3, 9, 41, 0.774)
  }

  .py-5 .lead{
  font-size: 2.5vh;
  color: rgba(3, 9, 41, 0.829)
  }
