
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="{{url_for("static", filename= "css/temp.css")}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <title>Nermin's coVID Web APP</title>
    </head>

    <body> 


        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">#DontBeCovIDIOT.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">stayAtHome
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://howmuchtoiletpaper.com/" target="_blank">T-P Calculator</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('map') }}" target="_blank">covMAP</a>
                </li>
                
            </ul>
            </div>
        </div>
        </nav>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
     <!-- Slide One - Set the background image for this slide in the line below -->
     <div class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/3951359/pexels-photo-3951359.jpeg?cs=srgb&dl=person-in-yellow-protective-suit-3951359.jpg&fm=jpg')">
        <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4" style = "color: rgb(4, 40, 56); font-size: 85px;"><b>stayAtHome.</b></h2>
        <p class="lead" style = "color: rgb(4, 40, 56);"> <b> Find out how much do you need to go out <br> and try not to be a <STRONG>covIDIOT</STRONG> </b></p>
        </div>
     </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
     <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1584109807991-ebfcd80112a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1554&q=80')">
        <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4" style = "color: rgb(4, 40, 56); font-size: 85px;"><b> T-P Calculator.</b></h2>
        <p class="lead" style = "color: rgb(4, 40, 56); "> <b> Find out how much of <STRONG>toilet paper</STRONG> you need <br> to survive the pandemic</b> </p>
        </div>
     </div>
    <!-- Slide Three - Set the background image for this slide in the line below -->
     <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/3951603/pexels-photo-3951603.jpeg?cs=srgb&dl=woman-holding-world-map-3951603.jpg&fm=jpg')">
        <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4" style = "color: rgb(4, 40, 56); font-size: 85px;"> <b> covMAP.</b></h2>
        <p class="lead" style = "color: rgb(4, 40, 56); "> <b> World Map with the <STRONG>latest data</STRONG> <br> of COVID-19 cases</b></p>
        </div>
     </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h1 class="display-4">covIDIOT - Made in Bosnia and Herzegovina</h1>
        <p class="lead">All Rights Reserved by Nermin Šero</a></p>
    </div>
    </section>
<!-- /.container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>

  </body>
</html>